@import url(../css/root.css);

.section1 {
    background-image: url(../images/section1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gap-80 {
    gap: 80px;
}

.sec1-h {
    max-width: 515px;
}

.sec1-txt {
    max-width: 547px;
}

.get-btn {
    width: 181px;
    height: 51px;
    border-radius: 45px;
    outline: none;
    border: none;
}

.min-vh-88 {
    height: 88vh;
}

.navbar-items {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: black;
    justify-content: center;
    flex-direction: column;
}

.menubar {
    width: 40px;
    height: 45px;
    z-index: 2;
}

.show {
    left: 0;
}

.menubar span {
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
}

.mt-26 {
    margin-top: 26px;
}

.mt-60 {
    margin-top: 60px;
}

.comming-btn {
    width: 149px;
    height: 44px;
    border-radius: 45.5px;
    background-color: var(--white-color);
    border: none;
    outline: none;
}

.box1-col4 {
    padding: 39px;
    background-color: var(--box1-col4);
    border-radius: 20px;
    height: 511px;
}

.pt-125 {
    padding-top: 125px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-90 {
    margin-top: 90px;
}

.mb-63 {
    margin-bottom: 63px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-140 {
    margin-bottom: 140px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-image: url(../images/timeline.png);
    top: 0;
    bottom: 24%;
    left: 50%;
    margin-left: -3px;
}

.container1 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container1::after {
    content: '';
    position: absolute;
    width: 43px;
    height: 43px;
    right: -22px;
    background-color: #009DFF;
    border: 3.23px solid #FFFFFF;
    box-shadow: 0px 0px 0px 10px rgba(0, 157, 255, 10%);
    top: -1px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50.3%;
}

.right::after {
    left: -24px;
}

.content {
    position: relative;
    bottom: 12px;
    left: 20px;
}

.content2 {
    position: relative;
    bottom: 12px;
    right: 20px;
}

.sec5-p {
    max-width: 786px;
}

.accordian-box {
    max-width: 830px;
}

.accordian-txt-svg {
    background-color: var(--accordian-color);
    border-radius: 150px;
    padding: 20px 32px;
}

.accordian-p{
    padding: 21px 30px;
    display: none;
}

@media (max-width: 767.1px) {

    .timeline::after {
        left: 31px;
    }

    .container1 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container1::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 9px;
    }

    .right {
        left: 0%;
    }

    .content2 {
        position: relative;
        bottom: 12px;
        left: 20px;
    }
}

@media (min-width: 320px) {}

@media (min-width: 576px) {
    .get-btn {
        width: 255px;
        height: 69px;
        border-radius: 45px;
        outline: none;
        border: none;
    }

    .pt-44 {
        padding-top: 44px;
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .navbar-items {
        position: unset;
        top: 0;
        left: 0;
        width: unset;
        height: unset;
        background: none;
        justify-content: unset;
        flex-direction: row;
    }

    .min-vh-lg-94 {
        height: 90vh;
    }

    .mt-lg-60 {
        margin-top: 60px;
    }

    .mb-lg-40 {
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .mt-xl-40 {
        margin-top: 40px;
    }

    .mb-lg-40 {
        margin-bottom: 0;
    }
}

@media (min-width: 1440px) {}